.wrapper {
	min-width: 1024px;
	width: auto;
	min-height: 100%;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

.header {
	margin: 0 auto;
	width: 100%;

	&__top {
		background: #fff;
		padding: 0 20px;
		height: 25px;
	}

	&__bottom {
		.size(100%, 45px);
		background-color: #3c3c3c;
		padding: 0 20px;
	}

	&__inner {

	}

	&__sep {
		.size(1px, 18px);
		background-color: #8c8c8c;
		float: right;
		margin: 3px 0 0 10px;
	}

	&__text {
		font-size: 14px;
		letter-spacing: 0.05em;
		float: right;
		color: #4b4b4b;
		margin: 4px 0 0;
	}
}

.middle {
	min-width: 1000px;
	margin: 0 auto;
	padding: 0 0 84px;

	&:after,
	&:before {
		.fixfloat;
	}

	&__container {
		float: left;
		width: 100%;
	}

	// &__left {
	// 	width: 250px;
	// 	float: left;
	// 	margin: 0 0 0 -100%;
	// 	background: green;
	// }

	// &__right {
	// 	float: left;
	// 	width: 250px;
	// 	margin-left: -250px;
	// 	margin-right: -3px;
	// 	background: red;
	// }
}

.content {
	padding: 0;
	line-height: @line-height;

	&:after,
	&:before {
		.fixfloat;
	}

	// @left: 250 / 1000 * 100%;
	// @right: 100 - @left;

	// &__left {
	// 	width: @left;
	// 	float: left;
	// 	padding: 0 45px 0 0;
	// }

	// &__right {
	// 	width: @right;
	// 	float: right;
	// }
}

.footer {
	height: 84px;
	margin: -84px auto 0;
	min-width: 1000px;
	position: relative;

}

.footer__inner {

	margin: 0 auto;
}