.header-social {
	float: right;
	margin: 5px 0 0;

	&__item {
		display: inline-block;
		vertical-align: middle;
		text-decoration: none;
		margin-left: 10px;
	}

	&__pic {
		display: block;
	}
}