.logo {
	float: right;
	margin-top: 12px;

	&__link {
		text-decoration: none;
	}

	&__pic {
		display: block;
	}
}


//     <div class="logo">
//         <a href="#" class="logo__link">
//             <img src="images/logo.png" alt="" class="logo__pic">
//         </a>
//     </div>