@loopMB: 100;

.loopMB (@index) when (@index >= 0) {

	.mb-@{index} {
		margin-bottom: @index * 1px;
	}

	.loopMB(@index - 1);
}

.loopMB (0) {}
.loopMB (@loopMB);

@loopML: 100;

.loopML (@index) when (@index >= 0) {

	.ml-@{index} {
		margin-left: @index * 1px;
	}

	.loopML(@index - 1);
}

.loopML (0) {}
.loopML (@loopML);

@loopMT: 100;

.loopMT (@index) when (@index >= 0) {

	.mt-@{index} {
		margin-top: @index * 1px;
	}

	.loopMT(@index - 1);
}

.loopMT (0) {}
.loopMT (@loopMT);

@loopMR: 100;

.loopMR (@index) when (@index >= 0) {

	.mr-@{index} {
		margin-right: @index * 1px;
	}

	.loopMR(@index - 1);
}

.loopMR (0) {}
.loopMR (@loopMR);








@loopMB_M: 100;

.loopMB_M (@index) when (@index >= 0) {

	.mb-m-@{index} {
		margin-bottom: @index * -1px;
	}

	.loopMB_M(@index - 1);
}

.loopMB_M (0) {}
.loopMB_M (@loopMB_M);

@loopML_M: 100;

.loopML_M (@index) when (@index >= 0) {

	.ml-m-@{index} {
		margin-left: @index * -1px;
	}

	.loopML_M(@index - 1);
}

.loopML_M (0) {}
.loopML_M (@loopML_M);

@loopMT_M: 100;

.loopMT_M (@index) when (@index >= 0) {

	.mt-m-@{index} {
		margin-top: @index * -1px;
	}

	.loopMT_M(@index - 1);
}

.loopMT_M (0) {}
.loopMT_M (@loopMT_M);

@loopMR_M: 100;

.loopMR_M (@index) when (@index >= 0) {

	.mr-m-@{index} {
		margin-right: @index * -1px;
	}

	.loopMR_M(@index - 1);
}

.loopMR_M (0) {}
.loopMR_M (@loopMR_M);