.navigation-horiz {
	color: #ececec;
	font-size: 18px;
	letter-spacing: 0.05em;
	font-weight: 300;
	padding: 11px 0 0;

	&__list {
		margin: 0;
		padding: 0;
	}

	&__item {
		margin: 0 20px 0 0;
		padding: 0;
		display: inline-block;
	}

	&__link {
		color: #ececec;
		text-decoration: none;

		&:hover {
			color: #fff;
			text-decoration: underline;
		}
	}

	&__text {

	}
}