@loopPB: 100;

.loopPB (@index) when (@index >= 0) {

	.pb-@{index} {
		padding-bottom: @index * 1px;
	}

	.loopPB(@index - 1);
}

.loopPB (0) {}
.loopPB (@loopPB);

@loopPL: 100;

.loopPL (@index) when (@index >= 0) {

	.pl-@{index} {
		padding-left: @index * 1px;
	}

	.loopPL(@index - 1);
}

.loopPL (0) {}
.loopPL (@loopPL);

@loopPT: 100;

.loopPT (@index) when (@index >= 0) {

	.pt-@{index} {
		padding-top: @index * 1px;
	}

	.loopPT(@index - 1);
}

.loopPT (0) {}
.loopPT (@loopPT);

@loopPR: 100;

.loopPR (@index) when (@index >= 0) {

	.pr-@{index} {
		padding-right: @index * 1px;
	}

	.loopPR(@index - 1);
}

.loopPR (0) {}
.loopPR (@loopPR);