.photo-item {

	&__pic {
		max-width: 100%;
		display: block;
		visibility: hidden;
	}

	&__piccover {
		background-repeat: no-repeat;
		.background-size(cover);
		background-position: center center;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}

	&__inner {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}

	&__table {
		display: table;
		width: 100%;
		height: 100%;
	}

	&__container {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		height: 100%;
		opacity: 0;
		position: relative;
		background: rgba(255, 255, 255, .8);
		.transition(opacity 500ms);
	}

	&:hover &__container {
		opacity: 1;
	}

	&__title {
		color: #1a1a1a;
		font-size: 20px;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	&__line {
		margin: 0 auto 10px;
		.size(90px, 1px);
		background-color: #bebebc;
	}

	&__text {
		margin-bottom: 20px;
		color: #1a1a1a;
		font-size: 12px;
		line-height: 18px;
		font-style: italic;
	}

	&__more {
		color: #5c5c5c;
		font-size: 12px;
		padding: 1px 25px 3px;
		display: inline-block;
		border: 1px solid #5c5c5c;
		text-decoration: none;
	}
}