//	.text
.text {

	&-center {
		text-align: center;
	}

	&-right {
		text-align: right;
	}

	&-justify {
		text-align: justify;
	}

	&-uppercase {
		text-transform: uppercase;
	}

	&-lowercase {
		text-transform: lowercase;
	}

	&-bold {
		font-weight: bold;
	}

	&-italic {
		font-style: italic;
	}
}

