@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:100,300,400,700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=latin,cyrillic);
.sleepysleep {
  margin: 0px;
  padding: 0px;
  /* HTML5 display-role reset for older browsers */
}
.sleepysleep html,
.sleepysleep body,
.sleepysleep div,
.sleepysleep span,
.sleepysleep applet,
.sleepysleep object,
.sleepysleep iframe,
.sleepysleep h1,
.sleepysleep h2,
.sleepysleep h3,
.sleepysleep h4,
.sleepysleep h5,
.sleepysleep h6,
.sleepysleep p,
.sleepysleep blockquote,
.sleepysleep pre,
.sleepysleep a,
.sleepysleep abbr,
.sleepysleep acronym,
.sleepysleep address,
.sleepysleep big,
.sleepysleep cite,
.sleepysleep code,
.sleepysleep del,
.sleepysleep dfn,
.sleepysleep em,
.sleepysleep img,
.sleepysleep ins,
.sleepysleep kbd,
.sleepysleep q,
.sleepysleep s,
.sleepysleep samp,
.sleepysleep small,
.sleepysleep strike,
.sleepysleep strong,
.sleepysleep sub,
.sleepysleep sup,
.sleepysleep tt,
.sleepysleep var,
.sleepysleep b,
.sleepysleep u,
.sleepysleep i,
.sleepysleep center,
.sleepysleep dl,
.sleepysleep dt,
.sleepysleep dd,
.sleepysleep ol,
.sleepysleep ul,
.sleepysleep li,
.sleepysleep fieldset,
.sleepysleep form,
.sleepysleep label,
.sleepysleep legend,
.sleepysleep table,
.sleepysleep caption,
.sleepysleep tbody,
.sleepysleep tfoot,
.sleepysleep thead,
.sleepysleep tr,
.sleepysleep th,
.sleepysleep td,
.sleepysleep article,
.sleepysleep aside,
.sleepysleep canvas,
.sleepysleep details,
.sleepysleep embed,
.sleepysleep figure,
.sleepysleep figcaption,
.sleepysleep footer,
.sleepysleep header,
.sleepysleep hgroup,
.sleepysleep menu,
.sleepysleep nav,
.sleepysleep output,
.sleepysleep ruby,
.sleepysleep section,
.sleepysleep summary,
.sleepysleep time,
.sleepysleep mark,
.sleepysleep audio,
.sleepysleep video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.sleepysleep article,
.sleepysleep aside,
.sleepysleep details,
.sleepysleep figcaption,
.sleepysleep figure,
.sleepysleep footer,
.sleepysleep header,
.sleepysleep hgroup,
.sleepysleep menu,
.sleepysleep nav,
.sleepysleep section {
  display: block;
}
.sleepysleep ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.sleepysleep img {
  border: 0px;
}
.sleepysleep blockquote,
.sleepysleep q {
  quotes: none;
}
.sleepysleep blockquote:before,
.sleepysleep blockquote:after,
.sleepysleep q:before,
.sleepysleep q:after {
  content: '';
  content: none;
}
.sleepysleep table {
  border-collapse: collapse;
  border-spacing: 0;
}
.sleepysleep .left {
  float: left;
}
.sleepysleep .right {
  float: right;
}
.sleepysleep .clear:after {
  content: "";
  width: 100%;
  display: block;
  clear: both;
}
.nowrap {
  white-space: nowrap;
}
.table {
  display: table !important;
}
div.center,
table.center {
  margin: 0 auto;
}
img.center,
span.center,
p.center,
i.center,
u.center,
strong.center,
article.center {
  text-align: center;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.pattern-tabblock-center {
  height: auto;
  text-align: center;
  padding: 0 10px;
}
.pattern-tabblock-center h3 {
  margin-bottom: 35px;
}
.pattern-tabblock-center summary {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16;
  font-weight: 67px;
  font-style: italic;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 12px;
  display: block;
}
@media screen and (min-width: 1281px) {
  .pattern-tabblock-center summary {
    width: 64%;
  }
}
.pattern-tabblock-center summary.thin {
  font-weight: 100;
}
body.sleepysleep {
  color: #5e5e5e;
  /* Colors */
  /* Sizes */
  /* Line-height */
  /* Distances */
  /* Effects */
}
body.sleepysleep.dark {
  background-color: #1e1c1a;
}
body.sleepysleep a {
  color: #4b4b4b;
}
body.sleepysleep .limit {
  padding: 0 20px;
}
body.sleepysleep .left {
  float: left;
}
body.sleepysleep .right {
  float: right;
}
body.sleepysleep h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 28px;
  font-weight: 200;
  color: #5e5e5e;
  margin: 0 0 8px 0;
  text-transform: uppercase;
}
@media screen and (min-width: 1025px) {
  body.sleepysleep h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    font-weight: 400;
  }
}
body.sleepysleep button.ditails {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 200;
  border: 1px #bcbcbc solid;
  color: #5e5e5e;
  line-height: 26px;
  padding: 0 20px;
  text-align: center;
  background: none;
  cursor: pointer;
}
body.sleepysleep a.pre-ditails {
  border: 1px #bcbcbc solid;
  display: table !important;
  padding: 0 1px;
  margin: 0 auto;
}
body.sleepysleep .super-header {
  background-color: #ffffff;
  height: 18px;
  padding-top: 3px;
  padding-bottom: 3px;
}
body.sleepysleep .super-header:after {
  content: "";
  width: 100%;
  display: block;
  clear: both;
}
body.sleepysleep .super-header.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
body.sleepysleep .super-header > * {
  padding: 0 20px;
}
body.sleepysleep .super-header .title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 13.89px;
  font-weight: 100;
  color: #4b4b4b;
  line-height: 18px;
  padding: 0 12px 0 0;
  border-right: 1px #4b4b4b solid;
  margin: 0 11px 0 0;
  float: right;
}
body.sleepysleep .super-header .sociallist {
  float: right;
  margin-top: 3px;
  margin-right: -2px;
}
body.sleepysleep .super-header .sociallist:after {
  content: "";
  width: 100%;
  display: block;
  clear: both;
}
body.sleepysleep .super-header .sociallist li {
  float: left;
  margin: 0 4px 0 0;
}
body.sleepysleep .super-header .sociallist li:last-child {
  margin: 0px;
}
body.sleepysleep .super-header .sociallist li img {
  height: 14px;
}
body.sleepysleep .super-header .hr {
  height: 1px;
  padding-right: 4px;
  clear: both;
}
body.sleepysleep .super-header .hr:after {
  content: "";
  width: 100%;
  display: block;
  clear: both;
}
body.sleepysleep .super-header .hr > div {
  border-bottom: 1px #4b4b4b solid;
  transform: translateY(0px);
}
body.sleepysleep .header {
  background-color: #363636;
  min-height: 44px;
  padding-top: 0px;
  position: absolute;
  top: 24px;
  left: 0px;
  z-index: 11;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}
body.sleepysleep .header > * {
  padding: 0 20px;
}
body.sleepysleep .header a.menupic {
  position: absolute;
  display: block;
  top: 36px;
}
@media screen and (min-width: 870px) {
  body.sleepysleep .header a.menupic {
    display: none;
  }
}
body.sleepysleep .header ul.menu {
  display: none;
  margin-top: 44px;
}
@media screen and (min-width: 870px) {
  body.sleepysleep .header ul.menu {
    margin-top: 0;
    display: block;
  }
}
body.sleepysleep .header ul.menu li {
  float: left;
  margin: 0;
  width: 100%;
  padding-top: 6px;
  text-align: center;
}
body.sleepysleep .header ul.menu li a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #b9b9b9;
  line-height: 38px;
  text-decoration: none;
  letter-spacing: 0.4px;
}
body.sleepysleep .header ul.menu li a:hover {
  color: #fff;
}
body.sleepysleep .header ul.menu li a .current {
  color: #fff;
}
@media screen and (min-width: 870px) {
  body.sleepysleep .header ul.menu li a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 300;
  }
}
@media screen and (min-width: 1070px) {
  body.sleepysleep .header ul.menu li a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 300;
  }
}
@media screen and (min-width: 870px) {
  body.sleepysleep .header ul.menu li {
    width: auto;
    margin: 0 12px 0 0;
    text-align: left;
  }
}
@media screen and (min-width: 1070px) {
  body.sleepysleep .header ul.menu li {
    margin: 0 26px 0 0;
  }
}
body.sleepysleep .header a.logo {
  display: block;
  margin: 0px;
  position: absolute;
  top: 36px;
  right: 20px;
}
@media screen and (min-width: 870px) {
  body.sleepysleep .header a.logo {
    position: static;
    top: 0;
    right: 0;
    margin-top: 13px;
  }
}
body.sleepysleep div.video {
  opacity: 0;
  overflow: hidden;
  position: relative;
  background: url(../images/banner.jpg) top left no-repeat transparent;
  background-size: 100% auto;
}
body.sleepysleep div.video:after {
  content: "";
  width: 100%;
  display: block;
  clear: both;
}
body.sleepysleep div.video > video {
  width: 100%;
  height: 684px;
  background-color: #fff;
  float: left;
  position: absolute;
  top: 0px;
}
body.sleepysleep div.video div.overlay {
  background: url('../images/video-overlay.png') top left repeat transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
}
body.sleepysleep div.video img.logo {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 44%;
  z-index: 5;
}
body.sleepysleep div.products {
  background-color: #ffffff;
  color: #5e5e5e;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
}
body.sleepysleep div.products:after {
  content: "";
  width: 100%;
  display: block;
  clear: both;
}
body.sleepysleep div.products div.product {
  width: 100%;
  float: left;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -o-transition-property: background;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease;
  -moz-transition-property: background;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -ms-transition-property: background;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease;
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
body.sleepysleep div.products div.product > div {
  padding: 0 5px;
}
body.sleepysleep div.products div.product > div div.preview {
  margin-bottom: 40px;
}
body.sleepysleep div.products div.product > div div.preview img {
  width: 100%;
}
body.sleepysleep div.products div.product > div div.descript {
  margin-bottom: 30px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
body.sleepysleep div.products div.product > div div.descript summary {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 200;
  color: #5e5e5e;
  font-style: italic;
  width: 55%;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}
body.sleepysleep div.products div.product > div div.descript > a {
  margin: 0 auto;
}
@media screen and (min-device-width: 1000px) {
  body.sleepysleep div.products div.product {
    width: 50%;
  }
}
body.sleepysleep div.products div.product:hover {
  background-color: #f5f5f5;
}
body.sleepysleep:after {
  content: "";
  width: 100%;
  display: block;
  clear: both;
}
body.sleepysleep .collection {
  width: 100%;
  float: left;
  background-size: 100% auto;
  background-position: top right;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
body.sleepysleep .collection > video {
  width: 100%;
  position: absolute;
  display: none;
}
@media screen and (min-width: 980px) {
  body.sleepysleep .collection > video {
    display: block;
  }
}
body.sleepysleep .collection > div {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2px;
}
body.sleepysleep .collection > div div.textblock {
  width: 100%;
  transition: width 0.5s ease;
  height: 100%;
}
body.sleepysleep .collection > div div.textblock table {
  width: 100%;
  height: 100%;
}
body.sleepysleep .collection > div div.textblock table td {
  height: 1%;
  vertical-align: middle;
}
body.sleepysleep .collection > div div.textblock table td.center {
  height: auto;
  text-align: center;
  padding: 0 10px;
}
body.sleepysleep .collection > div div.textblock table td.center h3 {
  margin-bottom: 35px;
}
body.sleepysleep .collection > div div.textblock table td.center summary {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16;
  font-weight: 67px;
  font-style: italic;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 12px;
  display: block;
}
@media screen and (min-width: 1281px) {
  body.sleepysleep .collection > div div.textblock table td.center summary {
    width: 64%;
  }
}
body.sleepysleep .collection > div div.textblock table td.center summary.thin {
  font-weight: 100;
}
@media screen and (min-width: 600px) {
  body.sleepysleep .collection > div div.textblock {
    width: 50%;
  }
}
body.sleepysleep .collection.dotted > div {
  background: url('../images/overlay-dottes.png') top left repeat transparent;
}
body.sleepysleep .collection.textured > div > div.textblock {
  background: rgba(255, 255, 255, 0.8);
}
@media screen and (min-width: 600px) {
  body.sleepysleep .collection.textured > div > div.textblock {
    background: url('../images/collection-texture.png') top left repeat transparent;
  }
}
body.sleepysleep .collection.righter > div > div.textblock {
  float: right;
}
body.sleepysleep .collection.white > div > div.textblock h3 {
  color: white;
}
body.sleepysleep .collection.white > div > div.textblock summary {
  color: white;
}
body.sleepysleep .collection.white > div > div.textblock button {
  color: white;
  border-color: #fff;
}
body.sleepysleep .footer {
  background-color: #fff;
  padding: 26px 0 16px 0;
}
body.sleepysleep .footer.dark-absolute {
  background-color: #464646;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
body.sleepysleep .footer.dark {
  background-color: #464646;
}
body.sleepysleep .footer div.sitemap {
  text-align: left;
}
body.sleepysleep .footer div.sitemap > ul {
  width: 100%;
}
body.sleepysleep .footer div.sitemap > ul > li {
  margin: 0 0 0 20px;
  width: 41%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding: 0 0 20px 0;
}
body.sleepysleep .footer div.sitemap > ul > li strong {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #aaaaaa;
  text-transform: uppercase;
  display: block;
  margin: 0 0 8px 0;
}
body.sleepysleep .footer div.sitemap > ul > li ul li {
  margin: 0 0 8px 0;
}
body.sleepysleep .footer div.sitemap > ul > li ul li > a {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 200;
  color: #aaaaaa;
  text-decoration: none;
  font-size: 15px;
}
body.sleepysleep .footer div.sitemap > ul > li ul li > a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 550px) {
  body.sleepysleep .footer div.sitemap > ul > li {
    margin: 0 0 0 20px;
    width: 29%;
  }
}
@media screen and (min-width: 700px) {
  body.sleepysleep .footer div.sitemap > ul > li {
    width: auto;
    margin: 0 10px;
  }
}
@media screen and (min-width: 900px) {
  body.sleepysleep .footer div.sitemap > ul > li {
    margin: 0 25px;
  }
}
@media screen and (min-width: 1366px) {
  body.sleepysleep .footer div.sitemap > ul > li {
    margin: 0 50px;
  }
}
@media screen and (min-width: 700px) {
  body.sleepysleep .footer div.sitemap {
    text-align: center;
  }
}
body.sleepysleep .footer .copyrights {
  margin: 0 auto;
  display: table;
  font-family: "Times New Roman", "Arial";
  font-size: 11,11px;
  font-weight: 200;
  color: #939393;
}
body.sleepysleep .footer .copyrights-pro {
  text-align: center;
  display: table;
  margin: 0 auto;
}
body.sleepysleep .footer .copyrights-pro:after {
  content: "";
  width: 100%;
  display: block;
  clear: both;
}
body.sleepysleep .footer .copyrights-pro > * {
  float: left;
}
body.sleepysleep .footer .copyrights-pro > a {
  margin-right: 10px;
  display: block;
}
body.sleepysleep .footer .copyrights-pro > summary {
  font-family: 'Roboto', sans-serif;
  font-size: 9px;
  font-weight: 100;
  line-height: 14px;
  text-transform: uppercase;
  color: #848484;
  display: inline;
}
body.sleepysleep .footer article {
  max-width: 847px;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 10px;
  font-weight: 200;
  color: #58595b;
  padding: 0 20px 14px 20px;
  text-align: center;
}
body.sleepysleep .matrasses-gallery {
  height: 911px;
  background: transparent;
  position: relative;
}
body.sleepysleep .matrasses-gallery > img {
  position: absolute;
  height: 100%;
  width: auto;
  top: 0px;
  left: 0px;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.45s;
  -webkit-transition-timing-function: ease;
  -o-transition-property: opacity;
  -o-transition-duration: 0.45s;
  -o-transition-timing-function: ease;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.45s;
  -moz-transition-timing-function: ease;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.45s;
  -ms-transition-timing-function: ease;
  transition-property: opacity;
  transition-duration: 0.45s;
  transition-timing-function: ease;
  opacity: 0;
}
body.sleepysleep .matrasses-gallery > img.current {
  opacity: 1;
}
@media screen and (min-width: 1919px) {
  body.sleepysleep .matrasses-gallery > img {
    width: 100%;
    height: auto;
  }
}
body.sleepysleep .matrasses-gallery > table {
  width: 100%;
  height: 100%;
}
body.sleepysleep .matrasses-gallery > table > tbody > tr.center > td div.cells {
  margin: 0 auto;
  display: table;
  width: 757px;
}
body.sleepysleep .matrasses-gallery > table > tbody > tr.center > td div.cells:after {
  content: "";
  width: 100%;
  display: block;
  clear: both;
}
body.sleepysleep .matrasses-gallery > table > tbody > tr.center > td div.cells:hover > * {
  background: rgba(255, 255, 255, 0.5);
}
body.sleepysleep .matrasses-gallery > table > tbody > tr.center > td div.cells:hover > * > * {
  opacity: 0.65;
}
body.sleepysleep .matrasses-gallery > table > tbody > tr.center > td div.cells > div {
  position: relative;
  float: left;
  width: 377px;
  height: 182px;
  background-color: #ffffff;
  border-right: 1px rgba(255, 255, 255, 0) solid;
  border-bottom: 1px rgba(255, 255, 255, 0) solid;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.45s;
  -webkit-transition-timing-function: ease;
  -o-transition-property: background;
  -o-transition-duration: 0.45s;
  -o-transition-timing-function: ease;
  -moz-transition-property: background;
  -moz-transition-duration: 0.45s;
  -moz-transition-timing-function: ease;
  -ms-transition-property: background;
  -ms-transition-duration: 0.45s;
  -ms-transition-timing-function: ease;
  transition-property: background;
  transition-duration: 0.45s;
  transition-timing-function: ease;
}
body.sleepysleep .matrasses-gallery > table > tbody > tr.center > td div.cells > div:nth-child(1) {
  border-right: 1px #f4f4f2 solid;
  border-bottom: 1px #f4f4f2 solid;
}
body.sleepysleep .matrasses-gallery > table > tbody > tr.center > td div.cells > div:nth-child(2) {
  border-bottom: 1px #f4f4f2 solid;
}
body.sleepysleep .matrasses-gallery > table > tbody > tr.center > td div.cells > div:nth-child(3) {
  border-right: 1px #f4f4f2 solid;
}
body.sleepysleep .matrasses-gallery > table > tbody > tr.center > td div.cells > div.fill {
  background-color: #ffffff;
}
body.sleepysleep .matrasses-gallery > table > tbody > tr.center > td div.cells > div.fill > * {
  opacity: 1;
}
body.sleepysleep .matrasses-gallery > table > tbody > tr.center > td div.cells > div > * {
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.45s;
  -webkit-transition-timing-function: ease;
  -o-transition-property: opacity;
  -o-transition-duration: 0.45s;
  -o-transition-timing-function: ease;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.45s;
  -moz-transition-timing-function: ease;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.45s;
  -ms-transition-timing-function: ease;
  transition-property: opacity;
  transition-duration: 0.45s;
  transition-timing-function: ease;
  display: block;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: #58595b;
  font-style: italic;
  text-align: center;
  vertical-align: middle;
  opacity: 1;
}
body.sleepysleep .matrasses-gallery > table > tbody > tr.center > td div.cells > div > * > * {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  vertical-align: middle;
}
body.sleepysleep .matrasses-gallery > table > tbody > tr.center > td div.cells > div > * > span {
  text-align: center;
  vertical-align: middle;
  display: table;
  height: auto;
  width: 100%;
}
body.sleepysleep .matrasses-gallery > table > tbody.tb > td {
  height: 33%;
}
body.sleepysleep .matrasses-gallery > table.start {
  display: table;
}
body.sleepysleep .matrasses-gallery > table.start > tbody > tr.center > td div.cells {
  width: 379px;
  height: 182px;
}
body.sleepysleep .matrasses-gallery > table.start > tbody > tr.center > td div.cells > * {
  width: 100%;
  height: 100%;
}
body.sleepysleep .matrasses-gallery > table.start > tbody > tr.center > td div.cells.go > * > * {
  opacity: 0;
}
body.sleepysleep .matrasses-gallery > table.start > tbody > tr.center > td div.cells > .fill > .loadline {
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0px;
  margin: 0;
}
body.sleepysleep .matrasses-gallery > table.start > tbody > tr.center > td div.cells > .fill > .loadline > div {
  height: 2px;
  width: 1px;
  background: #272727;
  margin: 0;
  -webkit-transition-property: width;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -o-transition-property: width;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: ease;
  -moz-transition-property: width;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: ease;
  -ms-transition-property: width;
  -ms-transition-duration: 0.2s;
  -ms-transition-timing-function: ease;
  transition-property: width;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
body.sleepysleep .matrasses-gallery > table.view {
  display: none;
}
body.sleepysleep .submatresses-under {
  width: 100%;
  height: 100%;
}
body.sleepysleep .submatresses-under > div {
  position: relative;
  height: 100%;
}
body.sleepysleep .submatresses-under > div > div {
  width: 25%;
  height: 100%;
  bottom: 0px;
  position: absolute;
  background-position: bottom  center;
  background-size: cover;
}
body.sleepysleep .submatresses-under > div > div:nth-child(1) {
  left: 0%;
}
body.sleepysleep .submatresses-under > div > div:nth-child(2) {
  left: 25%;
}
body.sleepysleep .submatresses-under > div > div:nth-child(3) {
  left: 50%;
}
body.sleepysleep .submatresses-under > div > div:nth-child(4) {
  left: 75%;
}
body.sleepysleep .submatresses-under > div > div > div {
  position: absolute;
  bottom: 50px;
}
body.sleepysleep .submatresses-under > div > div > div > article {
  display: block;
  padding: 0 20px;
  -webkit-transition-property: padding;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -o-transition-property: padding;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease;
  -moz-transition-property: padding;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -ms-transition-property: padding;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease;
  transition-property: padding;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
@media screen and (min-width: 1280px) {
  body.sleepysleep .submatresses-under > div > div > div > article {
    padding: 0 68px;
  }
}
body.sleepysleep .submatresses-under > div > div > div > article h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 9px 0;
  color: #fff;
}
@media screen and (min-width: 800px) {
  body.sleepysleep .submatresses-under > div > div > div > article h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    font-weight: 400;
  }
}
body.sleepysleep .submatresses-under > div > div > div > article summary {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-weight: 200;
  color: #ecd4b1;
  padding: 0 0 13px 0;
  border-bottom: 1px #fff solid;
  background: url(../images/matrasses/sub-under/arrow.png) right top 10px no-repeat transparent;
}
body.sleepysleep .submatresses-under > div > div > div > article summary > span {
  padding: 0 40px 0 0;
  display: block;
}
body.sleepysleep .submatresses-under > div > div > img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 264px;
}
body.sleepysleep .beds-open {
  position: fixed;
}
body.sleepysleep .beds-open > div > div {
  overflow: hidden;
}
body.sleepysleep .beds-open > div > div > img {
  position: absolute;
  width: 100%;
}
body.sleepysleep .beds-ticket {
  position: fixed;
  bottom: 160px;
  left: 0px;
}
body.sleepysleep .beds-ticket:after {
  content: "";
  width: 100%;
  display: block;
  clear: both;
}
body.sleepysleep .beds-ticket > div {
  background-color: rgba(0, 0, 0, 0.5);
  clear: both;
  margin: 0 0 5px 0;
}
body.sleepysleep .beds-ticket > div.title {
  width: 435px;
  float: right;
}
body.sleepysleep .beds-ticket > div.title:after {
  content: "";
  width: 100%;
  display: block;
  clear: both;
}
body.sleepysleep .beds-ticket > div.title > div {
  padding: 14px 38px 11px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 53.91px;
  font-weight: 400;
  line-height: 40px;
  color: white;
  text-transform: uppercase;
  float: right;
}
body.sleepysleep .beds-ticket > div.descript {
  width: 435px;
}
body.sleepysleep .beds-ticket > div.descript:after {
  content: "";
  width: 100%;
  display: block;
  clear: both;
}
body.sleepysleep .beds-ticket > div.descript > div {
  padding: 18px 38px 22px 0;
  float: right;
  text-align: right;
}
body.sleepysleep .beds-ticket > div.descript > div summary {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 11px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.7);
  max-width: 323px;
}
body.sleepysleep .beds-ticket > div.descript > div a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: white;
  letter-spacing: 0.5px;
  text-align: right;
  padding-right: 13px;
  text-decoration: none;
  background: url(../images/beds/open/arrow-a-right.png) center right no-repeat transparent;
}
body.sleepysleep .beds-gallery:after {
  content: "";
  width: 100%;
  display: block;
  clear: both;
}
body.sleepysleep .beds-gallery figure {
  background-size: 100% 100%;
  background-position: top left;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  display: block;
}
body.sleepysleep .beds-gallery figure > img {
  display: block;
  width: 100%;
}
body.sleepysleep .beds-gallery figure > video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
body.sleepysleep .beds-gallery figure > figcaption {
  opacity: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition-property: opacity;
  -o-transition-duration: 1s;
  -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition-property: opacity;
  -moz-transition-duration: 1s;
  -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition-property: opacity;
  -ms-transition-duration: 1s;
  -ms-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body.sleepysleep .beds-gallery figure > figcaption .caption {
  position: absolute;
  top: 50%;
  width: 100%;
  margin: auto;
  height: auto;
  text-align: center;
  padding: 0 10px;
  padding: 0px;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
body.sleepysleep .beds-gallery figure > figcaption .caption h3 {
  margin-bottom: 35px;
}
body.sleepysleep .beds-gallery figure > figcaption .caption summary {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16;
  font-weight: 67px;
  font-style: italic;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 12px;
  display: block;
}
@media screen and (min-width: 1281px) {
  body.sleepysleep .beds-gallery figure > figcaption .caption summary {
    width: 64%;
  }
}
body.sleepysleep .beds-gallery figure > figcaption .caption summary.thin {
  font-weight: 100;
}
body.sleepysleep .beds-gallery figure > figcaption .caption h3 {
  padding: 0 7px 13px;
  border-bottom: 1px #c6c5c5 solid;
  margin: 0 auto 13px auto;
  display: table;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #1a1a1a;
}
body.sleepysleep .beds-gallery figure > figcaption .caption summary {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #1a1a1a;
  display: none;
}
@media screen and (min-width: 1025px) {
  body.sleepysleep .beds-gallery figure > figcaption .caption summary {
    display: block;
  }
}
body.sleepysleep .beds-gallery figure > figcaption .caption a {
  text-decoration: none;
}
body.sleepysleep .beds-gallery figure > figcaption .caption a button {
  line-height: 18px;
  padding: 0 26px;
  border: 1px #919191 solid;
  background-color: transparent;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #5c5c5c;
  cursor: pointer;
}
body.sleepysleep .beds-gallery figure > figcaption .bg {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
}
body.sleepysleep .beds-gallery figure:hover > figcaption {
  opacity: 1;
}
body.sleepysleep .beds-gallery figure.figure-1 {
  width: 25%;
  float: left;
}
body.sleepysleep .beds-gallery figure.figure-2 {
  width: 47.5%;
  float: left;
}
body.sleepysleep .beds-gallery figure.figure-3 {
  width: 27.5%;
  float: left;
}
body.sleepysleep .beds-gallery figure.figure-4 {
  width: 37.5%;
  float: left;
}
body.sleepysleep .beds-gallery figure.figure-5 {
  width: 37.5%;
  float: left;
}
body.sleepysleep .beds-gallery figure.figure-6 {
  width: 38.65%;
  float: left;
  clear: both;
}
body.sleepysleep .beds-gallery figure.figure-7 {
  width: 61.35%;
  float: left;
}
body.sleepysleep .beds-gallery figure.figure-8 {
  width: 62.6041%;
  float: left;
}
body.sleepysleep .beds-gallery figure.figure-9 {
  width: 37.3959%;
  float: left;
}
body.sleepysleep .beds-gallery figure.figure-10 {
  width: 49.8958%;
  float: left;
}
body.sleepysleep .beds-gallery figure.figure-11 {
  width: 50.1041%;
  float: left;
}
body.sleepysleep .beds-gallery figure.figure-12 {
  width: 72.1875%;
  float: left;
}
body.sleepysleep .beds-gallery figure.figure-13 {
  width: 27.8125%;
  float: left;
}
body.sleepysleep div,
body.sleepysleep button,
body.sleepysleep input,
body.sleepysleep label {
  font-family: 'Roboto Condensed', sans-serif;
}
body.sleepysleep table.shop-mode {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
body.sleepysleep table.shop-mode > tbody > tr:first-child > td {
  position: relative;
  overflow-x: hidden;
}
body.sleepysleep table.shop-mode > tbody > tr:last-child > td {
  height: 101px;
}
body.sleepysleep div.shop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body.sleepysleep div.shop div.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body.sleepysleep div.shop div.container div.sidebar {
  position: absolute;
  width: 342px;
  height: 100%;
  background-color: #252525;
  color: #f3f3f3;
}
body.sleepysleep div.shop div.container div.sidebar > * {
  position: absolute;
  width: 100%;
}
body.sleepysleep div.shop div.container div.sidebar > *.push-v-header {
  top: 2.22%;
}
body.sleepysleep div.shop div.container div.sidebar > *.push-v-header > a {
  text-decoration: none;
  display: block;
  padding: 0 0 0 14px;
  font-size: 14px;
  color: #f3f3f3;
  font-weight: 100;
  background: url(../images/shop/up-pic.png) 0px 3px no-repeat transparent;
  line-height: 13px;
  display: table;
  margin: 0 auto;
}
body.sleepysleep div.shop div.container div.sidebar > *.push-v-header > a > span {
  margin: 0 0 0 14px;
}
body.sleepysleep div.shop div.container div.sidebar > *.push-v-center {
  top: 25.83%;
}
body.sleepysleep div.shop div.container div.sidebar > *.push-v-center > * {
  margin: 0 auto;
}
body.sleepysleep div.shop div.container div.sidebar > *.push-v-center > *.logo {
  margin: 0 0 46px 0;
  text-align: center;
}
body.sleepysleep div.shop div.container div.sidebar > *.push-v-center > *.logo > a > img {
  display: block;
}
body.sleepysleep div.shop div.container div.sidebar > *.push-v-center > *.menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
body.sleepysleep div.shop div.container div.sidebar > *.push-v-center > *.menu > ul > li {
  margin: 0 0 9px 0;
  text-align: center;
}
body.sleepysleep div.shop div.container div.sidebar > *.push-v-center > *.menu > ul > li > a {
  text-decoration: none;
  color: #d2d1d1;
  font-size: 16px;
  /* Effect on current and on hover the same */
}
body.sleepysleep div.shop div.container div.sidebar > *.push-v-center > *.menu > ul > li > a.current {
  color: #ffffff;
}
body.sleepysleep div.shop div.container div.sidebar > *.push-v-center > *.menu > ul > li > a:hover {
  color: #ffffff;
}
body.sleepysleep div.shop div.container div.sidebar > *.push-v-footer {
  bottom: 1.55%;
}
body.sleepysleep div.shop div.container div.sidebar > *.push-v-footer > * {
  margin: 0 auto;
  text-align: center;
}
body.sleepysleep div.shop div.container div.sidebar > *.push-v-footer > *.phone {
  color: #ffffff;
  font-size: 20px;
  line-height: 16px;
  font-weight: 600;
  margin: 0 0 14px 0;
}
body.sleepysleep div.shop div.container div.sidebar > *.push-v-footer > *.phone-comment {
  font-size: 12px;
  font-weight: 100;
  color: #ffffff;
  margin: 0 0 47px 0;
}
body.sleepysleep div.shop div.container div.sidebar > *.push-v-footer > *.soc > a {
  margin: 0 4px;
  vertical-align: top;
}
body.sleepysleep div.shop div.container div.sidebar > *.submenu {
  top: 0px;
  height: 100%;
  width: 1px;
  -webkit-transition-property: width;
  -webkit-transition-duration: 0.65s;
  -webkit-transition-timing-function: ease;
  -o-transition-property: width;
  -o-transition-duration: 0.65s;
  -o-transition-timing-function: ease;
  -moz-transition-property: width;
  -moz-transition-duration: 0.65s;
  -moz-transition-timing-function: ease;
  -ms-transition-property: width;
  -ms-transition-duration: 0.65s;
  -ms-transition-timing-function: ease;
  transition-property: width;
  transition-duration: 0.65s;
  transition-timing-function: ease;
  /* Shift this block to the right by the amount of sidebar width */
  left: 342px;
  overflow: hidden;
}
body.sleepysleep div.shop div.container div.sidebar > *.submenu > * {
  position: absolute;
  top: 0px;
  height: 100%;
  /* General style */
}
body.sleepysleep div.shop div.container div.sidebar > *.submenu > *.second {
  left: 0;
  width: 172px;
  background-color: rgba(255, 255, 255, 0.5);
  /* By the default submenu-first hidden by shifting by the anount by the width of it + width of first submenu*/
  -webkit-transform: translateX(-172px);
  -ms-transform: translateX(-172px);
  transform: translateX(-172px);
  /* Transit will help to show it beauty */
  -webkit-transition: -webkit-transform 0.65s ease;
  -ms-transition: -ms-transform 0.65s ease;
  transition: -webkit-transform 0.65s ease;
}
body.sleepysleep div.shop div.container div.sidebar > *.submenu > *.first {
  left: 0px;
  width: 197px;
  background-color: #ffffff;
  /* By the default submenu-first hidden by shifting by the anount by the width of it*/
  -webkit-transform: translateX(-197px);
  -ms-transform: translateX(-197px);
  transform: translateX(-197px);
  /* Transit will help to show it beauty */
  -webkit-transition: -webkit-transform 0.65s ease;
  -ms-transition: -ms-transform 0.65s ease;
  transition: -webkit-transform 0.65s ease;
}
body.sleepysleep div.shop div.container div.sidebar > *.submenu > * > div {
  position: absolute;
  /* Submenus has horizontal centered position */
  display: table;
  margin: 0 auto;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
body.sleepysleep div.shop div.container div.sidebar > *.submenu > * > div h4 {
  color: #252525;
  font-size: 14px;
  line-height: 11px;
  margin: 0 0 9px 0;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}
body.sleepysleep div.shop div.container div.sidebar > *.submenu > * > div h5 {
  color: #252525;
  font-size: 14px;
  line-height: 11px;
  margin: 0 0 9px 0;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}
body.sleepysleep div.shop div.container div.sidebar > *.submenu > * > div ul {
  list-style: none;
  padding: 0;
  margin: 0 0 2px 0;
}
body.sleepysleep div.shop div.container div.sidebar > *.submenu > * > div ul > li {
  margin: 0 0 9px 0;
  text-align: center;
}
body.sleepysleep div.shop div.container div.sidebar > *.submenu > * > div ul > li > a {
  text-decoration: none;
  color: #252525;
  font-size: 12px;
  font-weight: 100;
  line-height: 13px;
}
body.sleepysleep div.shop div.container div.sidebar > *.submenu > * > div ul > li > a.current {
  font-weight: 400;
}
body.sleepysleep div.shop div.container div.sidebar > *.submenu > * > div ul > li > a:hover {
  font-weight: 400;
}
body.sleepysleep div.shop div.container div.sidebar > *.submenu.show-first {
  width: 197px;
}
body.sleepysleep div.shop div.container div.sidebar > *.submenu.show-first > div.first {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
body.sleepysleep div.shop div.container div.sidebar > *.submenu.show-first > div.second {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}
body.sleepysleep div.shop div.container div.sidebar > *.submenu.show-second {
  width: 369px;
}
body.sleepysleep div.shop div.container div.sidebar > *.submenu.show-second > div.first {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
body.sleepysleep div.shop div.container div.sidebar > *.submenu.show-second > div.second {
  -webkit-transform: translateX(197px);
  -ms-transform: translateX(197px);
  transform: translateX(197px);
}
body.sleepysleep div.shop div.container div.gallery {
  padding-left: 342px;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  height: 100%;
}
body.sleepysleep div.shop div.container div.gallery > div {
  padding-right: 342px;
  display: block;
  height: 100%;
}
body.sleepysleep div.shop div.container div.gallery > div > table {
  width: 100%;
  height: 50%;
  border-collpase: collapse;
  border: 0;
}
body.sleepysleep div.shop div.container div.gallery > div > table > tbody > tr > td {
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
body.sleepysleep div.shop div.container div.gallery > div > table > tbody > tr > td.y0x0 {
  width: 24.90%;
  height: 50%;
}
body.sleepysleep div.shop div.container div.gallery > div > table > tbody > tr > td.y0x1 {
  width: 75.10%;
  height: 50%;
}
body.sleepysleep div.shop div.container div.gallery > div > table > tbody > tr > td.y1x0 {
  width: 48.81%;
  height: 50%;
}
body.sleepysleep div.shop div.container div.gallery > div > table > tbody > tr > td.y1x1 {
  width: 25.10%;
  height: 50%;
}
body.sleepysleep div.shop div.container div.gallery > div > table > tbody > tr > td.y1x2 {
  width: 26.09%;
  height: 50%;
}
body.sleepysleep div.shop div.container div.gallery > div > table > tbody > tr > td > img {
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.25s;
  -webkit-transition-timing-function: ease;
  -o-transition-property: opacity;
  -o-transition-duration: 0.25s;
  -o-transition-timing-function: ease;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.25s;
  -moz-transition-timing-function: ease;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.25s;
  -ms-transition-timing-function: ease;
  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: ease;
}
body.sleepysleep div.shop div.container div.gallery > div > table > tbody > tr > td > img.ready {
  opacity: 1;
}
body.sleepysleep div.shop div.container div.gallery > div > table > tbody > tr > td > a.cover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -o-transition-property: opacity;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
body.sleepysleep div.shop div.container div.gallery > div > table > tbody > tr > td > a.cover:hover {
  opacity: 1;
}
body.sleepysleep div.shop div.container div.gallery > div > table > tbody > tr > td > a.cover > div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
body.sleepysleep div.shop div.container div.gallery > div > table > tbody > tr > td > a.cover > div > div:first-child {
  width: 174px;
  font-size: 18px;
  color: #000000;
  line-height: 13px;
  padding: 0 0 17px 0;
  font-weight: 400;
  margin: 0 auto 14px auto;
  border-bottom: 1px #848484 solid;
  text-transform: uppercase;
}
body.sleepysleep div.shop div.container div.gallery > div > table > tbody > tr > td > a.cover > div > div:last-child {
  width: 174px;
  font-size: 16px;
  color: #000000;
  font-style: italic;
  font-weight: 100;
}
body.sleepysleep div.shop div.container div.topbar {
  min-width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #252525;
  color: #fff;
  font-size: 13px;
}
body.sleepysleep div.shop div.container div.topbar a {
  color: #fff;
  text-decoration: none;
  font-weight: 200;
}
body.sleepysleep div.shop div.container div.topbar > div {
  padding: 10px 25px;
}
body.sleepysleep div.shop div.container div.topbar > div:after {
  content: "";
  width: 100%;
  display: block;
  clear: both;
}
body.sleepysleep div.shop div.container div.topbar > div > div {
  height: 18px;
  line-height: 18px;
}
body.sleepysleep div.shop div.container div.topbar > div > div label {
  margin-right: 12px;
}
body.sleepysleep div.shop div.container div.topbar > div > div input {
  height: 10px;
  line-height: 10px;
  padding: 4px 18px;
  background-color: #464646;
  border: 0px;
  color: #fff;
  display: table;
  width: 8px;
}
body.sleepysleep div.shop div.container div.topbar > div > div.contacts {
  float: left;
}
body.sleepysleep div.shop div.container div.topbar > div > div.contacts:after {
  content: "";
  width: 100%;
  display: block;
  clear: both;
}
body.sleepysleep div.shop div.container div.topbar > div > div.contacts > div {
  float: left;
  border-right: 1px white solid;
  padding: 0 11px;
}
body.sleepysleep div.shop div.container div.topbar > div > div.contacts > div:last-child {
  border-right: 0px;
}
body.sleepysleep div.shop div.container div.topbar > div > div.contacts > div img {
  vertical-align: top;
  display: block;
}
body.sleepysleep div.shop div.container div.topbar > div > div.cart-block {
  float: right;
}
body.sleepysleep div.shop div.container div.topbar > div > div.cart-block:after {
  content: "";
  width: 100%;
  display: block;
  clear: both;
}
body.sleepysleep div.shop div.container div.topbar > div > div.cart-block > div.cart {
  float: left;
  margin-right: 83px;
}
body.sleepysleep div.shop div.container div.topbar > div > div.cart-block > div.cart:after {
  content: "";
  width: 100%;
  display: block;
  clear: both;
}
body.sleepysleep div.shop div.container div.topbar > div > div.cart-block > div.cart > * {
  float: left;
}
body.sleepysleep div.shop div.container div.topbar > div > div.cart-block button {
  float: right;
  height: 10px;
  line-height: 10px;
  padding: 4px 18px;
  background-color: #464646;
  border: 0px;
  color: #fff;
  height: 18px;
  padding-left: 27px;
  padding-right: 27px;
  cursor: pointer;
}
body.sleepysleep div.shop div.container div.topbar > div > div.contacts {
  float: left;
}
body.sleepysleep div.shop div.shop-loader {
  background: url(../images/shop/loader.png) top left no-repeat transparent;
  width: 33px;
  height: 33px;
  position: absolute;
  top: 50%;
  left: 50%;
}
