                                <!-- подключаем скрипты со стилями -->
                                <link rel="stylesheet" type="text/css" href="js/gallery/gallery.css" />
                                <script type="text/javascript" src="js/gallery/gallery.js"></script>

                                <div class="gallery-detail">
                                    <div class="gallery-detail__inner">

                                    	<div class="label label_detail">
                                    		<div class="label__inner">
												<div class="label__item">
													<img width="46" height="46" class="label__pic" src="images/new.png">
												</div>
											</div>
										</div>

                                        <ul id="js-gallery-detail" class="gallery-detail__list">
                                            <li data-image="images/i/detail-zoom.jpg" class="gallery-detail__item">
                                                <a href="images/i/detail-zoom.jpg" class="gallery-detail__link">
                                                	<span class="gallery-detail__cell">
                                                    	<img src="images/i/detail-zoom-small.jpg" alt="" title="" class="gallery-detail__pic" height="73" width="73">
                                                    </span>
                                                </a>
                                            </li>
                                            <li data-image="images/i/detail-zoom.jpg" class="gallery-detail__item">
                                                <a href="images/i/detail-zoom.jpg" class="gallery-detail__link">
                                                	<span class="gallery-detail__cell">
                                                    	<img src="images/i/detail-zoom-small.jpg" alt="" title="" class="gallery-detail__pic" height="73" width="73">
                                                    </span>
                                                </a>
                                            </li>
                                            <li data-image="images/i/detail-zoom.jpg" class="gallery-detail__item">
                                                <a href="images/i/detail-zoom.jpg" class="gallery-detail__link">
                                                	<span class="gallery-detail__cell">
                                                    	<img src="images/i/detail-zoom-small.jpg" alt="" title="" class="gallery-detail__pic" height="73" width="73">
                                                    </span>
                                                </a>
                                            </li>
                                            <li data-image="images/i/detail-zoom.jpg" class="gallery-detail__item">
                                                <a href="images/i/detail-zoom.jpg" class="gallery-detail__link">
                                                	<span class="gallery-detail__cell">
                                                    	<img src="images/i/detail-zoom-small.jpg" alt="" title="" class="gallery-detail__pic" height="73" width="73">
                                                    </span>
                                                </a>
                                            </li>
                                            <li data-image="images/i/detail-zoom.jpg" class="gallery-detail__item">
                                                <a href="images/i/detail-zoom.jpg" class="gallery-detail__link">
                                                	<span class="gallery-detail__cell">
                                                    	<img src="images/i/detail-zoom-small.jpg" alt="" title="" class="gallery-detail__pic" height="73" width="73">
                                                    </span>
                                                </a>
                                            </li>
                                            <li data-image="images/i/detail-zoom.jpg" class="gallery-detail__item">
                                                <a href="images/i/detail-zoom.jpg" class="gallery-detail__link">
                                                	<span class="gallery-detail__cell">
                                                    	<img src="images/i/detail-zoom-small.jpg" alt="" title="" class="gallery-detail__pic" height="73" width="73">
                                                    </span>
                                                </a>
                                            </li>
                                            <li data-image="images/i/detail-zoom.jpg" class="gallery-detail__item">
                                                <a href="images/i/detail-zoom.jpg" class="gallery-detail__link">
                                                	<span class="gallery-detail__cell">
                                                    	<img src="images/i/detail-zoom-small.jpg" alt="" title="" class="gallery-detail__pic" height="73" width="73">
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>