.gallery-item {
	margin: 0 30px;
	position: relative;

	&__container {
		overflow: hidden;
	}

	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;

		&:after,
		&:before {
			.fixfloat;
		}
	}

	&__item {
		width: 100% / 3;
		margin: 0;
		padding: 0;
		float: left;
	}

	&__prev,
	&__next {
		position: absolute;
		left: -22px;
		top: 50%;
		width: 17px;
		height: 35px;
		margin-top: -17px;
		background: url(gallery-item__arrow.png) no-repeat;
		cursor: pointer;
		opacity: 0.45;

		&:hover {
			opacity: 1;
		}
	}

	&__next {
		background-position: right top;
		left: auto;
		right: -22px
	}
}