.beds-open {
	position:fixed;
	>div {
		>div {
			overflow:hidden;
			>img {
				position:absolute;
				width:100%;
			}
		}
	}
}
.beds-ticket {
	position:fixed;
	bottom:160px;
	left:0px;
	.clear;
	>div {
		background-color:rgba(0,0,0,0.5);
		clear:both;
		margin:0 0 5px 0;
		&.title {
			width:435px;
			float:right;
			.clear;
			>div {
				padding:14px 38px 11px;
				
				.robotoc(53.91px, 400);
				line-height:40px;
				color:white;
				.upper;
				float:right;
			}
		}
		&.descript {
			width:435px;
			.clear;
			>div {
				padding:18px 38px 22px 0;
				float:right;
				text-align:right;

				summary {
					.robotoc(11px, 100);
					color:rgba(255,255,255,0.7);
					max-width:323px;
				}
				a {
					.robotoc(12px, 400);
					color:white;
					letter-spacing: 0.5px;
					text-align:right;
					padding-right:13px;
					.noDecore;
					background:url(../images/beds/open/arrow-a-right.png) center right no-repeat transparent;
				}
			}
		}
	}
}