.beds-gallery {
	.clear;
	
	figure {
		background-size:100% 100%;
		background-position:top left;
		background-repeat:no-repeat;
		position:relative;
		overflow:hidden;
		
			
			.block;
			>img {
				.block;
				width:100%;
			}
			>video {
				position:absolute;
				top:0;
				left:0;
				height:100%;
			}
			>figcaption {
				opacity:0;
				.transit(opacity, 1s, cubic-bezier(0.215, 0.61, 0.355, 1));
				-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
   				backface-visibility: hidden;
				position:absolute;
				top:0;left:0;
				width:100%;height:100%;
				.caption {
					position:absolute;
					top:50%;
					width:100%;
					margin:auto;
					.pattern-tabblock-center;
					padding:0px;
					
					-ms-transform:translateY(-50%);
					-webkit-transform:translateY(-50%);
					transform:translateY(-50%);

					h3 {
						padding:0 7px 13px;
						border-bottom:1px #c6c5c5 solid;
						margin:0 auto 13px auto;
						display:table;

						.robotoc(20px, 400);
						color:#1a1a1a;
					}
					summary {
						.robotoc(12px, 400);
						color:#1a1a1a;
						display:none;
						@media screen and (min-width:1025px) {
							display:block;
						}
					}

					a {
						.noDecore;

						button {
							line-height:18px;
							padding:0 26px;
							border:1px #919191 solid;
							background-color:transparent;
							.robotoc(12px, 400);
							color:#5c5c5c;
							cursor:pointer;
						}
					}
				}
				.bg {
					position:absolute;
					top:0px;left:0px;
					background-color:rgba(255,255,255,0.8);
					width:100%;
					height:100%;
				}
			}
			
		
		&:hover {
			
				>figcaption {
					opacity:1;
					
				}
			
		}

		&.figure-1 {
			width:25%;
			float:left;
		}
		&.figure-2 {
			width:47.5%;
			float:left;
		}
		&.figure-3 {
			width:27.5%;
			float:left;
		}
		&.figure-4 {
			width:37.5%;
			float:left;
		}
		&.figure-5 {
			width:37.5%;
			float:left;
		}
		&.figure-6 {
			width:38.65%;
			float:left;
			clear:both;
		}
		&.figure-7 {
			width:61.35%;
			float:left;
		}
		&.figure-8 {
			width:62.6041%;
			float:left;
		}
		&.figure-9 {
			width:37.3959%;
			float:left;
		}
		&.figure-10 {
			width:49.8958%;
			float:left;
		}
		&.figure-11 {
			width:50.1041%;
			float:left;
		}
		&.figure-12 {
			width:72.1875%;
			float:left;
		}
		&.figure-13 {
			width:27.8125%;
			float:left;
		}
	}
	
}
