
	.clear;
	.collection {
		width:100%;
		float:left;
		background-size:100% auto;
		background-position: top right;
		background-repeat:no-repeat;


		position:relative;
		overflow:hidden;
		>video {
			width:100%;
			position:absolute;
			display:none;
			@media screen and (min-width:980px) {
				display:block;
			}
		}
		>div {
			width:100%;
			height:100%;
			position:absolute;
			z-index:2px;
			
			div.textblock {
				width:100%;
				transition:width 0.5s ease;
				height:100%;
				table {
					width:100%;
					height:100%;
					td {
						height:1%;
						vertical-align:middle;
						&.center {
							height:auto;
							text-align:center;
							padding: 0 10px;

							h3 {
								margin-bottom:35px;
							}

							summary {
								.robotoc(16,67px);
								font-style:italic;
								width:85%;
								margin: 0 auto;
								margin-bottom:12px;
								display:block;
								@media screen and (min-width:1281px) {
									width:64%;
								}
								&.thin {
									font-weight:100;
								}
							}
						}
					}
				}
				@media screen and (min-width:600px) {
					width:50%;
				}
			}
		}
		&.dotted {
			>div {
				background:url('../images/overlay-dottes.png') top left repeat transparent;
			}
		}
		&.textured {
			>div {
				>div.textblock {
					background:rgba(255,255,255,0.8);
					@media screen and (min-width:600px) {
						background:url('../images/collection-texture.png') top left repeat transparent;
					}
				}
			}
		}
		&.righter {
			>div {
				>div.textblock {
					float:right;
				}
			}
		}
		&.white {
			>div {
				>div.textblock {
					h3 {
						color:white;
					}
					summary {
						color:white;
					}
					button {
						color:white;
						border-color:#fff;
					}
				}
			}
		}
	}
