@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:100,300,400,700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=latin,cyrillic);

.robotoc(@size: 14px, @weight: 400) {
	font-family: 'Roboto Condensed', sans-serif;
	font-size:@size;
	font-weight:@weight;
}


.roboto(@size: 14px, @weight: 400) {
	font-family: 'Roboto', sans-serif;
	font-size:@size;
	font-weight:@weight;
}