.footer {
	background-color:#fff;
	padding:26px 0 16px 0;

	&.dark-absolute {
		background-color:#464646;
		position:absolute;
		bottom:0px;
		left:0px;
		width:100%;
	}
	&.dark {
		background-color:#464646;
	}
	div.sitemap {
		text-align:left;
		>ul {
			width:100%;
			>li {
				margin: 0 0 0 20px;
				width: 41%;
				display:inline-block;
				vertical-align:top;
				text-align:left;
				padding:0 0 20px 0;
				strong {
					.robotoc(15px, 400);
					color:#aaaaaa;
					.upper;
					.block;
					margin:0 0 8px 0;
				}
				ul {
					li {
						>a {
							.robotoc(15px, 200);
							color:#aaaaaa;
							.noDecore;
							font-size:15px;
							&:hover {
								text-decoration:underline;
							}
						}
						margin:0 0 8px 0;
					}
				}
				@media screen and (min-width:550px) {
					margin:0 0 0 20px;
					width:29%;
				}
				@media screen and (min-width:700px) {
					width:auto;
					margin:0 10px;
				}
				@media screen and (min-width:900px) {
					margin:0 25px;
				}
				@media screen and (min-width:1366px) {
					margin:0 50px;
				}
			}
		}
		@media screen and (min-width:700px) {
			text-align:center;
		}
	}
	.copyrights {
		margin:0 auto;
		display:table;
		font-family: "Times New Roman", "Arial";
		font-size: 11,11px;
		font-weight: 200;
		color:#939393;
	}
	.copyrights-pro {
		text-align:center;
		display:table;
		margin:0 auto;
		.clear;
		>* {
			float:left;
		}
		>a {
			margin-right:10px;
			.block;
		}
		>summary {
			.roboto(9px, 100);
			line-height:14px;
			.upper;
			color:#848484;
			display:inline;
		}
	}
	article {
		max-width:847px;
		margin:0 auto;
		.robotoc(10px, 200);
		color:#58595b;
		padding:0 20px 14px 20px;
		text-align:center;
	}
}