.header {
	background-color:#363636;
	min-height:44px;
	padding-top:0px;

	position:absolute;
	top:24px;
	left:0px;
	z-index:11;
	width:100%;
	background:rgba(0,0,0,0.7);

	>* {
		padding:0 20px;
	}
	a.menupic {
		position:absolute;
		display:block;
		top: 36px;
		@media screen and (min-width:870px) {
			display:none;
		}

	}
	ul.menu {
		display:none;
		margin-top:44px;
		@media screen and (min-width:870px) {
			margin-top:0;
			display:block;
		}
		li {
			float:left;
			margin:0;
			width:100%;
			padding-top:6px;
			text-align:center;
			a {
				.robotoc(16px, 300);
				color:#b9b9b9;
				line-height:38px;
				text-decoration:none;
				letter-spacing: 0.4px;
				&:hover {
					color:#fff;
				}
				.current {
					color:#fff;
				}
				@media screen and (min-width:870px) {
					.robotoc(16px, 300);
				}
				@media screen and (min-width:1070px) {
					.robotoc(16px, 300);
				}
			}
			@media screen and (min-width:870px) {
				width:auto;
				margin:0 12px 0 0;
				text-align:left;
			}
			@media screen and (min-width:1070px) {
				margin:0 26px 0 0;
			}
		}
	}
	a.logo {
		display:block;
		margin:0px;
		position:absolute;
		top:36px;
		right:20px;
		@media screen and (min-width:870px) {
			position:static;
			top:0;
			right:0;
			margin-top:13px;
		}
	}
}