// import basic most wanted less functions
@import "reset.less";
@import "functions.less";
@import "fonts.less";
@import "patterns.less";

// Background
@site-background-color: #fff;

// Colors
@color-main: #4b4b4b;
@color-slave: #5e5e5e;
@color-border: #bcbcbc;

.times(@size: 14px, @weight: 400) {
	font-family: "Times New Roman";
	font-size:@size;
	font-weight:@weight;
}

// Here is your code
body.sleepysleep {
	&.dark {
		background-color:#1e1c1a;
	}
	color:@color-slave;

	a {
		color:@color-main;
	}

	.limit {
		padding:0 20px;
	}

	.left {
		float:left;
	}

	.right {
		float:right;
	}

	h3 {
		.robotoc(28px,200);
		color:#5e5e5e;
		margin:0 0 8px 0;
		text-transform: uppercase;
		@media screen and (min-width:1025px) {
			.robotoc(32px,400);
		}
	}

	button.ditails {
		.robotoc(18px, 200);
		border:1px @color-border solid;
		color:@color-slave;
		line-height:26px;
		padding:0 20px;
		
		text-align:center;
		background:none;
		cursor:pointer;
	}

	a.pre-ditails {
		border:1px @color-border solid;
		.table;
		padding:0 1px;
		margin:0 auto;
	}


	@import "super-header.less";
	@import "header.less";
	@import "video.less";
	@import "products.less";
	@import "collections.less";
	@import "club.less";
	@import "footer.less";
	@import "matrasses.less";
	@import "submatresses-under.less";
	@import "beds-open.less";
	@import "beds-gallery.less";
}
