.matrasses-gallery {
	height:911px;
	background:transparent;
	position:relative;
	
	>img {
		position:absolute;
		height:100%;
		width:auto;
		top:0px;
		left:0px;
		.transit(opacity, 0.45s, ease);
		opacity:0;
		&.current {
			opacity:1;
		}
		@media screen and (min-width:1919px) {
			width:100%;
			height:auto;
		}
	}
	>table {
		width:100%;
		height:100%;
		>tbody {
			
				>tr {
					&.center {
						>td {
							div.cells {
								margin:0 auto;
								display:table;
								width:757px;
								.clear;
								&:hover {
									>* {
										background:rgba(255,255,255,0.5);
										>* {
											opacity:0.65;
										}
									}
								}
								>div {
									position:relative;
									float:left;
									width:377px;
									height:182px;
									background-color:#ffffff;
									border-right:1px rgba(255,255,255,0) solid;
									border-bottom:1px rgba(255,255,255,0) solid;
									.transit(background, 0.45s, ease);
									&:nth-child(1) {
										
										border-right:1px #f4f4f2 solid;
										border-bottom:1px #f4f4f2 solid;
										
									}
									&:nth-child(2) {
										
										border-bottom:1px #f4f4f2 solid;
										
									}
									&:nth-child(3) {
										border-right:1px #f4f4f2 solid;
									}
									&.fill {
										background-color:#ffffff;
										>* {
											opacity:1;
										}
									}

									>* {
										.transit(opacity, 0.45s, ease);
										display:block;
										margin:auto;
										top:0;left:0;bottom:0;right:0;
										position:absolute;
										.robotoc(20px, 100);
										color:#58595b;
										font-style:italic;
										text-align:center;
										vertical-align:middle;
										opacity:1;
										>* {
											margin:auto;
											position:absolute;
											top:0;left:0;bottom:0;right:0;
											text-align:center;
											vertical-align:middle;
											
										}
										>span {
											text-align: center;
											vertical-align: middle;
											display: table;
											height: auto;
											width: 100%;
										}
									}
								}
							}
						}
					}
				}
				&.tb {
					>td {
						height:33%;
					}
				}
				
			
		}
		&.start {
			display:table;
			>tbody {
				>tr {
					&.center {
						>td {
							div.cells {
								width:379px;
								height:182px;
								>* {
									width:100%;
									height:100%;
								}
								&.go {
									>* {
										>* {
											opacity:0;
										}
									}
								}
								>.fill {
									>.loadline {
										height:2px;
										width:100%;
										position: absolute;
										bottom: 10px;
										left: 0px;
										margin: 0;
										>div {
											height:2px;
											width:1px;
											background:#272727;
											margin: 0;
											.transit(width, 0.2s, ease);
										}
									}
								}
							}
						}
					}
				}
			}
		}
		&.view {
			display:none;
		}
	}
}