.pattern-descript () {
	margin-bottom:30px;
	display:inline-block;
	vertical-align: middle;
	text-align:center;
	
	summary {
		.robotoc(18px, 200);
		color:#5e5e5e;
		font-style:italic;
		width:55%;
		display:block;
		margin: 0 auto;
		margin-bottom:15px;

	}

	>a {
		margin:0 auto;
	}
}

.pattern-tabblock-center {
	height:auto;
	text-align:center;
	padding: 0 10px;

	h3 {
		margin-bottom:35px;
	}

	summary {
		.robotoc(16,67px);
		font-style:italic;
		width:85%;
		margin: 0 auto;
		margin-bottom:12px;
		display:block;
		@media screen and (min-width:1281px) {
			width:64%;
		}
		&.thin {
			font-weight:100;
		}
	}
}