div.products {
	.clear;
	background-color:@site-background-color;
	color:@color-slave;
	padding-top:10px;
	padding-bottom:0px;
	padding-left:5px;
	padding-right:5px;
	div.product {
		width:100%;
		float:left;
		.transit(background, 0.5s, ease);
		>div {
			padding:0 5px;
			div.preview {
				img {
					width:100%;
				}
				margin-bottom:40px;
			}
			div.descript {
				.pattern-descript;
				
				

			}
		}
		@media screen and (min-device-width:1000px) {
			width:50%;
		}
		&:hover {
			background-color:#f5f5f5;
		}
	}
}