.super-header {
	background-color:@site-background-color;
	height:18px;
	padding-top:3px;
	padding-bottom:3px;
	.clear;

	&.overlay {
			position:fixed;
			top:0;
			left:0;
			width:100%;
			z-index:2;
	}
	>* {
		padding:0 20px;
	}
	.title {
		.robotoc(13.89px, 100);
		color:#4b4b4b;
		line-height:18px;
		padding:0 12px 0 0;
		border-right:1px @color-main solid;
		margin:0 11px 0 0;
		float:right;
	}

	.sociallist {
		float:right;
		.clear;
		margin-top:3px;
		margin-right:-2px;
		li {
			float:left;
			margin:0 4px 0 0;
			&:last-child {
				margin:0px;
			}

			img {
				height:14px;
			}
		}
	}

	.hr {
		height:1px;
		padding-right:4px;
		clear:both;
		.clear;

		>div {
			border-bottom:1px @color-main solid;
			transform: translateY(0px);
		}
	}
}