div.video {
	opacity:0;
	overflow:hidden;
	position:relative;
	background:url(../images/banner.jpg) top left no-repeat transparent;
	background-size:100% auto;
	.clear;
	>video {
		width:100%;
		height:684px;
		background-color:#fff;
		float:left;
		position:absolute;
		top:0px;
	}
	div.overlay {
		background:url('../images/video-overlay.png') top left repeat transparent;
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		z-index:10;
	}
	img.logo {
		position:absolute;
		margin:auto;
		top:0;left:0;bottom:0;right:0;
		width:44%;
		z-index:5;
	}
}